<robot name="Radar">

    <link name="base_link"/>
    <link name="radar_mount_1"/>
    <link name="os_imu"/>
    <link name="os_sensor"/>

    <joint name="base_link_to_radar_mount_1" type="fixed">
        <parent link="base_link" />
        <child link="radar_mount_1" />
        <origin xyz="2.420000000000 -0.148983937387 -0.500000000000" rpy="0.000000000000 -0.000000000000 0.000000000000" />
    </joint>
    
    <joint name="base_link_to_os_imu" type="fixed">
        <parent link="base_link" />
        <child link="os_imu" />
        <origin xyz="-0.080000000000 0.041016062613 0.650000000000" rpy="0.000000000000 -0.000000000000 0.000000000000" />
    </joint>
    
    <joint name="base_link_to_os_sensor" type="fixed">
        <parent link="base_link" />
        <child link="os_sensor" />
        <origin xyz="-0.080000000000 0.041016062613 0.650000000000" rpy="0.000000000000 -0.000000000000 0.000000000000" />
    </joint>
    
</robot> 
