<!--
  Copyright 2016 The Cartographer Authors

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<launch>

    

    <!-- Arguments -->
    
    <!-- dim - 2d or 3d -->
    <arg name="dim" default="3d"/>
    <arg if="$(eval dim == '2d')" name="config_file" value="config_2d.lua"/>
    <arg if="$(eval dim == '3d')" name="config_file" value="config_3d.lua"/>
    
    <!-- urdf_filename - robot model file -->
    <arg name="urdf_filename" default=""/>
    
    <!-- Cartographer -->
    <node pkg="cartographer_ros" type="cartographer_node" name="cartographer_node" ns="cartographer" args="
            -configuration_directory $(find cartographer_example)/config
            -configuration_basename $(arg config_file)"
            output="screen">
        <remap from="scan" to="/scan"/>
        <remap from="echoes" to="/horizontal_laser_3d"/>
        <remap from="imu" to="/realsense_back/imu"/>
        <remap from="points2" to="/velodyne_points" />
        <remap from="points2_1" to="/horizontal_laser_3d" />
        <remap from="points2_2" to="/vertical_laser_3d" />
    </node>

    <node pkg="cartographer_ros" type="cartographer_occupancy_grid_node" name="cartographer_occupancy_grid_node" ns="cartographer" args="-resolution 0.05"/>
    
    <param unless="$(eval urdf_filename == '')" name="robot_description" textfile="$(arg urdf_filename)"/>
    <node  unless="$(eval urdf_filename == '')" pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" ns="cartographer"/>
      
</launch>
